$color-white: #fff;

$color-grey-dark: #292929;

$color-yellow: #ffd900;

$color-red-light: #ff0055;

$card-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
$header-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
